<!DOCTYPE html>
@*<html lang="en">*@
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

   
    <meta property="og:site_name" content="" />
    <meta property="og:site" content="" /> 
    <meta property="og:title" content="" /> 
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" /> 
    <meta property="og:url" content="" />
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>CISEP MULTI-SERVICES</title>

    <!-- Styles -->

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/css/swiper.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    
    <!-- Favicon  -->
    <link rel="icon" href="images/logoCISEP.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="my-container">
        @RenderBody()
    </div>
 
    @Html.Partial("Footer") 
   
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="background:#113448">
                    <p class="p-small">Copyright © 2020 <a asp-action="Index" asp-controller="Home">CISEP MULTI-SERVICES, LLC</a></p>
                </div>
            </div>
        </div>
    </div> 

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/morphext.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/validator.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/toastr.min.js"></script>
   

    <!-- Scripts -->

    @RenderSection("Scripts", required: false)
</body>
@*</html>*@
