<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @*animated zoomInDown delay-1s*@
                    <div class="text-container ">
                        <h2 style="color:white;font-size: 32px !important;"> CISEP <span id="js-rotating">SERVICES, RESOURCES</span></h2>
                        <p class="p-heading p-large">Offering the services you need and providing resources and trainings.</p>
                        <a class="btn-solid-lg page-scroll" href="#services">Services</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->